.why-choose-us {
    background: url("https://i.ibb.co/b5fwGrn/bg-why-choose-us.jpg"), rgba(0, 0, 14, 0.979);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}
